version: "3.3"
services:
  nginx:
    container_name: 'nginx-proxy'
    image: nginx:1.21.1-alpine
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./config:/etc/nginx/conf.d
      - ./secrets:/secrets:ro

    networks:
      - app
    restart: always
networks:
  app:
    driver: bridge

